
# Backend (Python / FastAPI)

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# Frontend (React / Vite)

scanclass-web/node_modules/
scanclass-web/dist/
scanclass-web/dist-ssr/
scanclass-web/*.local
scanclass-web/.env

# OS / Editor Files

.DS_Store
.vscode/
.idea/